$warning: #fdff00;  

// Import all of Bootstrap's CSS
@import "bootstrap";

.navbar-nav {
    align-items: center;
  }

a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.carousel-item img {
    height: 850px;
    object-fit: cover;
}

p {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Nastaví pevnou šířku karty */
  margin: 0 auto; /* Vycentruje kartu */
}
.card-body {
  flex-grow: 1;
  text-align: center; /* Volitelně: centrování textu */
}
.card-img-top {
  width: 100%; /* Šířka obrázku bude 100 % šířky karty */
  object-fit: contain; /* Zachová celý obrázek bez ořezu */
  background-color: #fdff00; /* Volitelně: světlé pozadí kolem obrázku */
}
.card p {
  font-size: medium;
}


.card {
  background-color: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid transparent; /* Přidá průhledný border */
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.col-lg-6 {
  max-width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}

h6 {
  padding-top: 1rem;
}
h4 {
  padding-bottom: 0,5rem;
}

.kontakty .card-body{
  background-image: url(../images/pozadi-card.jpg);
  color: white;
}

ul{
  list-style-type: none;
}
